  
<div class ="colorarea">
  <%total_item_no = @planners.count%>
  <% if @planners.count.positive?%>
    <%colored_items = @planners.joins(:item).group('items.color').count%>
    <%colored_items.each do |key, value|%>
      <div style="background-color: <%= key %>; width: <%= value.to_f/total_item_no*100 %>%;">
        <%=key%>
        <%=value%>
        <%=value.to_f/total_item_no*100%>%</div>
    <%end%>
  <%else%>
    <p>no items are added to your plan yet</p>
  <%end%>
</div>
