<div id ="colorarea" data-refreshless-target="colorswatch">
  <%total_item_no = @planners.count%>
  <% if @planners.count.positive?%>
    <%colored_items = @room.area_by_colors%>
    <%colored_items.each do |key, value|%>
      <div style="background-color: <%= key %>; width: <%= value.to_f/@room.total_area*100 %>%;">
        <%=key%>
        <%=value%>
        <%=value.to_f/total_item_no*100%>%</div>
    <%end%>
  <%else%>
    <p>Add some items from your favourites!</p>
  <%end%>
</div>
