<div class="container">
  <h1 class="planner-heading">Room Planner - Shopping List Version</h1>
  <div class ="floating">
    <h2>Your color swatch:</h2>
    <%= render "colorswatch"%>
  </div>
  <h2>Your planned items:</h2>
  <div class = "row">
    <%total_price = 0%>
    <% shop_names = @planners.map { |planner| planner.item.shop_name }.uniq %>
    <% shop_names.each do |shop| %>
      <h3><%= shop %></h3>
      <table style="border: 0;">
        <tbody>
          <tr>
            <td style = "width:10%;"><strong>Color</strong></td>
            <td style = "width:35%;"><strong>Item</strong></td>
            <td><strong>Item Id</strong></td>
            <td><strong>Quantity</strong></td>
            <td><strong>Unit Price</strong></td>
            <td><strong>Link</strong></td>
          </tr>
          <% same_shop = @planners.select { |planner| planner.item.shop_name == shop } %>
          <% same_items = same_shop.map { |planner| planner.item.name }.tally %>
          <% same_items.each do |name, count| %>
            <% details = @planners.select{ |planner| planner.item.name == name} %>
            <% total_price += details.sum { |planner| planner.item.price }%>
            <tr>
              <td style="background-color: <%= details.first.item.color %>;"></td>
              <td><%= name %></td>
              <td><%= details.first.item.shop_item_id %></td>
              <td><%= count %></td>
              <td><%= details.first.item.price%></td>
              <td><%= link_to "url", details.first.item.shop_url, target: "_blank" %></td>
            </tr>
            <p></p>
          <% end %>
        </tbody>
      </table>
      <p></p>
    <% end %>
  </div>
  <div style="text-align: right;">
    <h2>Total Price : ¥<%= total_price %></h2>
  </div>
  <div class="container-fluid">
    <div class="card-group">
      <% @planners.each do |planner|%>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= planner.item.photo %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= planner.item.name %></h5>
            <p class="card-text">¥<%= planner.item.price %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
