<div class="search">
  <%= render "shared/narrow-search" %>
  <div class="search-results">
    <div id="items">
      <% if @items.any? %>
        <div class="results-container">
          <% @items.each do |item| %>
            <div class="result">
              <div class="result-photo" style="background-image: url('<%= item.photo %>');">
              </div>
              <div class="result-details">
                <h3><%= item.name %></h3>
                <p>¥ <%= item.price %></p>
                <p><%= item.furniture_type %></p>
                <p>Dimensions: <%= item.x_dimension %> x <%= item.y_dimension %> x <%= item.z_dimension %></p>
                <p>Shop: <%= item.shop_name %></p>
              </div>
              <%= simple_form_for [@room, @wishlist], html: { class:"d-flex"} do |f| %>
                <%= f.input :item_id, as: :hidden, input_html: { value: item.id } %>
                <%= f.button :button, disabled: @room.wish_items.find_by(id: item) ? true : false, class: "add-to-wishlist-button pt-0" do %>
                  <i class="fa-solid fa-heart"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="d-flex justify-content-center mt-5">
          <em>No, items found.</em>
        </div>
      <% end %>
    </div>
  </div>
</div>
