<div class="hello">
  <h3>Favourites</h3>
  <%= link_to "Plan room!", room_planners_path, class: "btn btn-primary", role: "button" %></div>
<div class="wishitems-container">
  <% if wishlists.any? %>
    <% wishlists.each do |wishlist| %>
      <div class="wishitem">
        <div class="wishitem-info">
          <p><%= wishlist.item.name %></p>
          <p>¥ <%= wishlist.item.price %></p>
          <p>Shop: <a class="text-decoration-none" href="<%= wishlist.item.shop_url %>" target="_blank"><%= wishlist.item.shop_name %></a></p>
          <div class="testremovebutton"><%= button_to wishlist_path(wishlist), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "hoverbutton" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
        <div class="wishitem-image" style="background-image: url('<%= wishlist.item.photo %>')"></div>
      </div>
    <% end %>
  <% else %>
    <em>Add some items to your wishlist...</em>
  <% end %>
</div>
