<%= render "shared/banner" %>
<div class="container description-container px-4">
  <div class="palette-feature">
    <h3><i class="fa-solid fa-palette"></i> Color Palette Customization</h3>
    <p>Discover a world of endless possibilities with our color palette customization and selection feature.
      <%# Whether you're drawn to vibrant hues or soothing tones, our app empowers you to create your perfect color scheme. From bold statements to subtle accents, tailor your palette to reflect your unique style and personality. Explore curated selections or unleash your creativity with custom combinations. With our intuitive interface, designing your dream space has never been easier. %>
    </p>
  </div>
  <div class="search-feature">
    <h3><i class="fa-solid fa-chair"></i> Furniture Discovery</h3>
    <p>Step into a realm of inspiration with our room-based furniture discovery system.
      <%# Seamlessly explore a curated collection of furniture tailored to your specific room type and color palette. Whether you're envisioning a cozy bedroom retreat or a sleek kitchen ensemble, find pieces that harmonize effortlessly with your design vision. From modern chic to classic elegance, discover furniture that speaks to your aesthetic preferences and elevates your living spaces. Let your imagination roam free as you embark on a journey of interior transformation. %>
    </p>
  </div>
  <div class="wishlist-feature">
    <h3><i class="fa-solid fa-clipboard-list"></i> Room Designing</h3>
    <p>Elevate your decorating experience with our wishlist organization and room design feature.
      <%# Curate a personalized collection of furniture items that capture your attention and imagination. Effortlessly transition from browsing to planning as you refine your selections and bring your design vision to life. With our intuitive room design tool, visualize your ideal space and experiment with layouts, textures, and colors. From conceptualization to realization, streamline your decorating journey and transform your aspirations into reality. %>
    </p>
  </div>
</div>
<div id="carouselExampleCaptions" class="carousel slide my-5" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-image" style="background-image: url('<%= image_path("bedroom.jpg")%>');"></div>
      <%= image_tag("palette_bedroom.png", class: "carousel-palette") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="caption-shadow">Bedroom</h5>
        <p class="caption-shadow">Lull yourself to sleep with a soothing and refined palette.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('<%= image_path("living.jpg")%>');"></div>
      <%= image_tag("palette_living.png", class: "carousel-palette") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="caption-shadow">Living Room</h5>
        <p class="caption-shadow">A tasteful scheme for the center of your living space.</p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-image" style="background-image: url('<%= image_path("dining.png")%>');"></div>
      <%= image_tag("palette_dining.png", class: "carousel-palette") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="caption-shadow">Dining Room</h5>
        <p class="caption-shadow">Set the stage for your guests with an inviting theme.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="cool-button-container">
  <a href="/rooms/new" class="button type--B">
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text">Get Inspired</span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
  </a>
</div>
<div class="about-us container px-4">
  <h3 class="about-us-title"><i class="fa-regular fa-address-card"></i> About us ?</h3>
  <p class="about-us-text">Welcome to FRNSHR, where we're on a mission to help people transform their living spaces into personalized havens of comfort and style. Founded by a dynamic team of four young developers — Nick, Nikita, Ruby, and Justin — fresh out of LeWagon coding bootcamp, FRNSHR is all about simplifying the design process and empowering users to create their dream interiors with ease. While our journey together may have just begun, our passion for innovation and collaboration drives us forward. With communication as our cornerstone, we believe in fostering an environment where ideas flow freely and creativity knows no bounds. What sets us apart? Well, aside from being cool 😎, we're committed to injecting a dose of fun and excitement into the world of interior design. So whether you're revamping a cozy corner or redesigning your entire home, FRNSHR is here to turn your vision into reality — one click at a time.</p>
</div>
