<div class="card-container">
  <% if wishlists.any? %>
    <% wishlists.each do |wishlist| %>
      <div class="wishlist-item">
        <div class="wishlist-photo" style="background-image: url('<%= wishlist.item.photo %>');">
        </div>
        <div class="d-flex flex-column wishlist-details ">
          <div class ="d-flex justify-content-between">
            <h3 class="text-center"><%= wishlist.item.name %></h3>
            <div><%= button_to wishlist_path(wishlist), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "remove-from-wishlist-button" do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          </div>
          <div class="d-flex">
            <p>¥ <%= wishlist.item.price %></p>
          </div>
        </div>
        <% if current_page?(room_wishlists_path) %>
          <%= render "room_wishlists", wishlist: wishlist %>
        <% end %>
        <% if current_page?(room_planners_path) %>
          <%= render "room_planners", wishlist: wishlist %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <em>Add some items to your wishlist...</em>
  <% end %>
</div>
